<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<table> 
<tr>
<td>Client/ Account Name</td>
<td>Active</td>
<td>ICN #</td>
<td>Hosting Type</td>
<td>Industry</td>
<td>Backend</td>
<td>Geography/ IOT/ GMU</td>
<td>Region/ IMT/ GMT</td>
<td>Location</td>
<td>EDI Standards Used</td>
<td>Lifecycle of the client</td>
<td>From</td>
<td>To</td>
<td>Link to Solution Manual</td>
<td>Link in RTC</td>
<td>Third Party Systems Involved</td>
</tr>
<% for(var i=0;i<info.length;i++) { %>
<tr>
<td><%=info[i].name%></td>
<td><%=info[i].active%></td>
<td><%=info[i].icn%></td>
<td><%=info[i].hostingtype%></td>
<td><%=info[i].industry%></td>
<td><%=info[i].backend%></td>
<td><%=info[i].geography%></td>
<td><%=info[i].region%></td>
<td><%=info[i].location%></td>
<td><%=info[i].edi%></td>
<td><%=info[i].lifecycle%></td>
<td><%=info[i].fromdate%></td>
<td><%=info[i].todate%></td>
<td><%=info[i].solution%></td>
<td><%=info[i].rtc%></td>
<td><%=info[i].thirdparty%></td>
</tr>
<% } %>
</table>
</body>
</html>
